django==1.8.4
mysql-python==1.2.5
requests>2.5
redis>2.10
bae_log>0.9
qiniu<8
xlrd
xlwt
beautifulsoup4
Jinja2
wechat-sdk
bson
pymongo
mongoengine
mns==1.0.2
raven<6
phonenumbers
Pillow>=2.0.0
coverage==3.5
wechat-sdk
